@font-face {
    font-family: "Outfit";
    src: url("font/Outfit-VariableFont_wght.ttf");
    font-weight: 300, 400, 600;
}

:root {
    --clr-primary-Blue : hsl(215, 51%, 70%);
    --clr-primary-Cyan : hsl(178, 100%, 50%);

    --clr-bg-main : hsl(217, 54%, 11%);
    --clr-bg-card : hsl(216, 50%, 16%);
    --clr-line :  hsl(215, 32%, 27%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", serif;
    color: white;
}

main {
    width: 100vw;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    background-color : var(--clr-bg-main);
}

.product {
    aspect-ratio: 1 / 1.55;
    height: 80vh;
    border-radius: 1rem;
    padding: 1.5rem;

    background-color: var(--clr-bg-card);

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;

}

.product-img > img {
    width: 100%;
    
    border-radius: 0.5rem;
    overflow: hidden;
}

.title {
    font-size: 1.5rem;
    font-weight: 500;
}

.desc {
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--clr-primary-Blue);
}

.details {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    color: var(--clr-primary-Cyan);
}

.timeout {
    color: var(--clr-primary-Blue);
}

.line {
    border-top: 1px solid var(--clr-primary-Blue);
    width: 100%;
    /* color: var(--clr-primary-Blue); */
}

.profile {
    width: 100%;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile > img {
    aspect-ratio: 1/1;
    width: 2rem;
}

.profile > p {
    font-weight: 300;
    color: var(--clr-primary-Blue);
}

.name1 {
    font-weight: 400;
    color: white;
}



.attribution { 
    position: relative;
    font-size: 11px; text-align: center;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
